<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="C:\projects\dwg beauty\static\style.css" />
</head>
<body>
    <div class="row">
        <div class="col-md-10 mr-auto ml-auto">
        </div>
    </div>
		<h1>DWG BEAUTY</h1>
		<form action="#" method="post"
        <div id="userInput">
            <div class="col-md-8 ml-auto mr-auto">
                <p class="userInput"><span><b>Enter phone number</b></span></p>
            </div>
        </div>
        <div id="button" class="row">
            <div class="col-md-10">
                <input id="number" type="phonenumber" name="phonenumber" placeholder="phonenumber" class="form-control">
                <button><a class="btn btn-primary" href="payment_request/templates/payment_request/index.html" role="button">submit</a></button>
            </div>
        </div>
		</form>
	</div>
</body>
</html>