<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="C:\projects\dwg beauty\static\style.css">
</head>
<body>
	<div class="row">
        <div class="col-md-10 mr-auto ml-auto">
        </div>
    </div>
		<h1>DWG BEAUTY</h1>
		<form>
        <div id="userInput">
            <div class="col-md-8 ml-auto mr-auto">
                <p class="userInput"><span><b>Enter OTP</b></span></p>
            </div>
        </div>
        <div id="button" class="row">
            <div class="col-md-10">
                <input id="OTP" type="number" name="OTP" placeholder="otp" class="form-control">
                <button class="btn btn-primary" type="submit">submit</button>
            </div>
        </div>
		</form>
</body>
</html>