<br>

<div class="row">
	<div class="col-md-4">
			<div class="card text-center text-white" id="total-orders">
				<div class="card-header">
					<h5 class="card-title">Total orders</h5>
				</div>
				<div class="card-body">
					<h1 class="card-title"></h1>
				</div>
			</div>
	</div>

	<div class="col-md-4">
			<div class="card text-center text-white" id="delivered-orders">
				<div class="card-header">
					<h5 class="card-title">delivered orders</h5>
				</div>
				<div class="card-body">
					<h1 class="card-title"></h1>
				</div>
			</div>
	</div>

	<div class="col-md-4">
			<div class="card text-center  text-white" id="pending-orders">
				<div class="card-header">
					<h5 class="card-title">pending orders</h5>
				</div>
				<div class="card-body">
					<h1 class="card-title"></h1>
				</div>
			</div>
	</div>
</div>
